/imgs/all/*.png
/imgs/all/*.JPG
/imgs/all/*.jpg
/imgs/all/*.jpeg
/imgs/resized/*.png
/imgs/resized/*.JPG
/imgs/resized/*.jpg
/imgs/resized/*.jpeg
/data/coeffs/*.npy
/data/12x12x108/*.npy
/data/full/*.npy
/data/thin/*.npy
/data/btheta/*.npy
/data/learned/*.npy
/data/learned_thin/*.npy
/data/coeffs_backup/*.npy
/data/cifar_sparse/*/*.npy
/data/cifar-10-python.tar.gz
/model/*.tar
data/dictionary.npz
data/dictionary_12x12x108.npz
data/dictionary_thin.npz
coeff_analysis.py
data/full_histo_a_.npy
data/full_histo_b_.npy
data/full_histo_R2_.npy
data/hist__covar.npy
data/hist_coeffs_.npy
data/ori_histo_kappas1.npy
data/ori_histo_kappas2.npy
data/ori_histo_mus1.npy
data/ori_histo_R2.npy
